h1 {
    text-align: center;
}

h1 span{
    color: white;
    background-color: #D2042D;
}

li {
    text-align: center;
}

body {
    background-color: white;
}

h2 {
    text-align: left;
}


h2 span {
    color: white;
    background-color: #D2042D;
}



h3 {
    text-align: center;
}